html {
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
    text-align: center;
    text-transform: uppercase;
    background-color: gray;
    border-radius: 6px;
    padding: 12px;
    color: white;
}