html {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    background-color: gray;
    border-radius: 6px;
    padding: 12px;
    color: white;
}

.mt {
    margin-top: 10px;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

th {

    background-color: gray;
}

tr {

    border-bottom: 1px solid gray;
}

th,
td {
    padding: 10px;
    text-align: center;
}