html {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    background-color: rgb(102, 102, 102);
    color: white;
    padding: 12px;
    border-radius: 6px;
    text-transform: uppercase;
}

li.important {
    color: darkred;
    font-weight: bold;
}

li.muted {
    color: gray;
}